<!DOCTYPE html>
<html>
<head>
    <title>Smart Landfill AI</title>
</head>
<body>

<h1>AI Landfill Prediction System</h1>

<form method="POST">

    <input type="number" name="population" placeholder="Population"><br><br>

    <input type="number" name="waste" placeholder="Waste Generated"><br><br>

    <input type="number" name="recycling" placeholder="Recycling Rate"><br><br>

    <input type="number" name="rainfall" placeholder="Rainfall"><br><br>

    <input type="number" name="urban" placeholder="Urban Growth"><br><br>

    <button type="submit">Predict</button>

</form>

{% if prediction %}
<h2>Predicted Landfill Growth: {{ prediction }}</h2>
{% endif %}

</body>
</html>